In [1]:
import pandas as pd
import os

In [2]:
school_data_to_load = os.path.join("schools_complete.csv")
student_data_to_load = os.path.join("students_complete.csv")

In [3]:
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)
complete_data_df = pd.merge(student_data_df,school_data_df, on= ["school_name","school_name"])

In [4]:
complete_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:
#Getting the total count of student
student_count = complete_data_df["Student ID"].count()
student_count

39170

In [6]:
#finding unique schools
school_unique = complete_data_df["school_name"].unique()
school_unique_count = len(school_unique)
school_unique_count

15

In [32]:
#finding total budget for dchool districts using oroginal data frame
school_budget = school_data_df["budget"].sum()
school_budget

24649428

In [33]:
average_reading_scores = complete_data_df["reading_score"].mean()
average_math_scores = complete_data_df["math_score"].mean()

In [34]:
average_reading_scores
average_math_scores

78.98537145774827

In [35]:
# Get all the students who are passing math in a new DataFrame.
math_passed = complete_data_df[complete_data_df["math_score"]>= 70]
reading_passed = complete_data_df[complete_data_df["reading_score"]>=70]

passed_math = math_passed[True].count()

In [36]:
math_passing_count = math_passed["student_name"].count()
reading_passing_count = reading_passed["student_name"].count()

In [37]:
print(math_passing_count)
print(reading_passing_count)

29370
33610

In [38]:
#getting percentage that passed
complete_count = complete_data_df["student_name"].count()

In [39]:
#percentages
math_percent_pass = math_passing_count / complete_count * 100
reading_percent_pass = reading_passing_count / complete_count * 100

In [40]:
print(math_percent_pass)
print(reading_percent_pass)

74.9808526933878
85.80546336482001

In [41]:
#calculating overall passing percentage
passing_math_reading = complete_data_df[(complete_data_df["math_score"] >=70) & (complete_data_df["reading_score"] >= 70)]

In [42]:
passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [43]:
overall_passing = passing_math_reading["student_name"].count()

In [44]:
overall_passing

25528

In [45]:
percent_overall = overall_passing / complete_count * 100
percent_overall

65.17232575950983

In [192]:
district_summary_df = pd.DataFrame([{
    "Total Schools" : complete_count,
    "Total Students": student_count,
    "Total Budget": school_budget,
    "Average Math Scores": average_math_scores,
    "Average Reading Scores": average_reading_scores,
    "% of Math Passed": math_percent_pass,
    "% of Reading Passed": reading_percent_pass,
    "% overall passed": percent_overall
    
 }])

In [193]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Scores,Average Reading Scores,% of Math Passed,% of Reading Passed,% overall passed
0,39170,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

#########################################################

In [194]:
def sa_hello():
    print("Hello")

In [195]:
def math_passing_percent(math_passing_count, student_count):
    return math_passing_count / student_count * 100

In [196]:
math_passing_percent(math_passing_count, student_count)

74.9808526933878

In [197]:
# A list of my grades
my_grades = [ "B", "C", "B", "D"]

In [198]:
import pandas as pd
#convert my list to a series
my_grades = pd.Series(my_grades)

In [199]:
my_grades
#Changing grades using map
my_grades.map({"B":"A", "C":"B", "B":"A", "D":"C"})

0    A
1    B
2    A
3    C
dtype: object

In [200]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [201]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Scores,Average Reading Scores,% of Math Passed,% of Reading Passed,% overall passed
0,39170,"39,170",24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [202]:
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [203]:
district_summary_df["Average Math Scores"] = district_summary_df["Average Math Scores"].map("{:,.1f}".format)
district_summary_df["Average Reading Scores"] = district_summary_df["Average Reading Scores"].map("{:,.1f}".format)
district_summary_df["% of Math Passed"] = district_summary_df["% of Math Passed"].map("{:,.0f}".format)
district_summary_df["% of Reading Passed"] =  district_summary_df["% of Reading Passed"].map("{:,.0f}".format)
district_summary_df["% overall passed"] = district_summary_df["% overall passed"].map("{:,.0f}".format)

In [204]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Scores,Average Reading Scores,% of Math Passed,% of Reading Passed,% overall passed
0,39170,"39,170","$24,649,428.00",79.0,81.9,75,86,65